<h2 style="margin-top: 40px">Current orders</h2>


<p>
  <% @orders.each do |order| %>
    <%= order.phone.brand %> <%= order.phone.model %> <%= order.count %> <%= order.email %> <%= order.mobnumber %> <%= order.adress %><br>
    <hr>
  <% end %>
</p>
